.container {
    background-color: rgb(250, 161, 44);
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
}

.columns {
    display: flex;
    justify-content: center ;
    font-size: 14px;
    gap: 3em;
}

.titulo {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.column p {
    cursor: pointer; 
  }

  .link {
    color: white;
    text-decoration: none;
  }

